@import url("./themes/catppuccin/mocha.css");

/*
background-color: @green;
background-color: @yellow;
background-color: @blue;
background-color: @mauve;
background-color: @lavender;
background-color: @sapphire;
background-color: @maroon;
*/

* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 10px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px;
}





#workspaces {
  background-color: @surface0;
  border-radius: 1rem;
  margin: 5px 0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  border-radius: 1rem;
  color: @sapphire;
}

#workspaces button.urgent {
  color: @red;
}





#custom-music {
  background-color: @surface0;
  border-radius: 1rem;
  color: @mauve;
  margin: 5px 0;
  padding: 0.5rem 1rem;
}





#pulseaudio,
#backlight,
#battery,
#clock {
  background-color: @surface0;
  margin: 5px 0;
  padding: 0.5rem 1rem;
}

#pulseaudio {
  border-radius: 1rem 0px 0px 1rem;
  color: @maroon;
  margin-left: 1rem;
}

#backlight {
  border-radius: 0;
  color: @mauve;
}

#battery {
  border-radius: 0;
  color: @green;
}

#battery.charging {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @red;
}

#clock {
  border-radius: 0px 1rem 1rem 0px;
  color: @blue;
  margin-right: 1rem;
}





#tray {
  background-color: @surface0;
  border-radius: 1rem;
  margin: 5px 0;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
}





#custom-lock,
#custom-power {
  background-color: @surface0;
  margin: 5px 0;
  padding: 0.5rem 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
  margin-right: 1rem;
}
